body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	widht: 100%;
}

.container {
	background: url(../images/bodyBg/body_bg2.jpg) no-repeat scroll center
		top transparent;
	margin: 0 auto;
	width: 100%;
}

#content_area {
	margin: auto;
	width: 1024px;
}

#content_left {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	width: 250px;
}

#navigation {
	padding: 0;
	width: 219px;
	margin: 60px auto;
}

.menu_but {
	background: url("../images/menu_bg1.png") no-repeat scroll 0 0
		transparent;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	padding: 13px 30px 0;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 5px;
}

#content_right {
	float: right;
	width: 650px;
	margin-right: 50px;
	margin-top: 50px;
}

#content_right_top {
	background: url("../images/content_right_top.png") no-repeat scroll
		center top transparent;
	height: 30px;
	padding: 20px 0 0;
	width: 644px;
}

#content_right_top h1 {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin-left: 40px;
	margin-top: -5px;
}

#content_right_mid {
	background: url("../images/content_right_mid.png") repeat scroll 0 0
		transparent;
	padding: 0 0 10px;
	width: 644px;
}

#content_right_bottom {
	background: url("../images/content_right_bottom.png") no-repeat scroll
		center bottom transparent;
	height: 73px;
	width: 644px;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	padding: 0;
}

.search_top {
	background: url("../images/search_top.png") no-repeat scroll center top
		transparent;
	height: 4px;
	width: 595px;
	margin-left: 25px;
}

.search_mid {
	background: none repeat scroll 0 0 #7FBAA0;
	padding: 10px 20px;
	width: 555px;
	margin-left: 25px;
}

.search_bottom {
	background: url("../images/search_bottom.png") no-repeat scroll center
		bottom transparent;
	height: 5px;
	width: 595px;
	margin-left: 25px;
}

#search_container {
}

.query_table {
	margin: 0 auto;
	width: 550px;
	color: #FFFFFF;
}

.query_td {
	padding: 0 5px 0 0;
	text-align: right;
}

.query_input {
	height: 20px;
	width: 150px;
}

.query_sel {
	cursor: pointer;
	height: 25px;
	width: 155px;
}

.normal_But {
	background: url("../images/button.png") repeat scroll 0 0 transparent;
	color: #FFFFFF;
	font-size: 13px;
	height: 23px;
	margin: 10px 37px;
	text-align: center;
	width: 80px;
	cursor: pointer;
}

    

/*表格数据操作*/
.opreate{
    color: #0000FF;
    cursor: pointer;
    margin: 0 2px;
    text-decoration: underline;
}
/*数据展示*/
.show_data{
    margin: 0 auto;
    width: 90%;
}
/*分页样式*/
.page{

}
.page .previous{
    margin-right: 20px;
    cursor: pointer;
}

.page .next{
    margin-left: 20px;
    cursor: pointer;
}

